.top-buffer { margin-top:20px; }

.tree li {
    margin: 0px 0;

  list-style-type: none;
    position: relative;
  padding: 4px 1px 0px 1px;
}

.tree li a{
    display: inline-block;
  padding: 0px 1px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 14px;
  border-radius: 2px;

}

ul ul {
    padding-left:20px;
}

.tree > ul > li::before, .tree > ul > li::after{
  border: 0;
}

.tree li:last-child::before{
      height: 30px;
}

.editable-wrap .editable-controls>input, .editable-wrap .editable-controls>select, .editable-wrap .editable-controls>textarea {
    width: 500px;
}

.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
  border-color:  #94a0b4;
}

.prop-block {
  border: solid 1px silver;
  border-radius: 5px;
  padding:4px;
}

.tree > ul {
  padding: 0;
}

.toggle-icon {
  cursor: pointer;
}

.active-node {
  background-color: #c8e4f8 !important;
  color: black !important;
  border: 1px solid black !important;
}

.odd-row {
    background: #f9f9f9;
}

.property-table tr:hover{
    background: #BBBBBB;
}

.prop-block {
  height: 100%;
  overflow: auto;
}

.col-md-6 .col-md-6 {
  height: calc(100% - 140px);
}

.row.top-buffer {
  height: 100%;
}

.container-fluid.ng-scope {
  height: 100%;
}

html, body {
  height: 100%;
}

.alert {
  position: absolute;
  right: 1px;
  top: 1px;
}

td {
  white-space: nowrap;
}

#navigation {
    float: left;
    overflow: auto;
    width: 450px;
}
#properties {
    overflow: hidden;
}
#resizer {
    float:left;
    margin:20px 3px 0px 3px;
    width:4px;
    border-color: silver;
    border-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-top-stype: none;
    border-bottom-style: none;
    height:20px;
    cursor:pointer;
}

.properties-header {
    padding-left: 10px;
    color: #666;
}

.properties-padding {
    padding: 20px 5px 20px 5px;
}

.changelog {
  border: solid 1px silver;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}
.changelog li {
  text-align: left;
}
